.header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--secondary-color);
  border-radius: .75rem;
  padding: .5rem .75rem;

  & > svg > path{
    fill: var(--primary-color);
  }
}

#toggle-mode{
  background-color: var(--tertiary-color);
  border: 0;
  border-radius: .75rem;

  width: 3.125rem;
  height: 3.125rem;
}